---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elasticsearch/logstash/pulls/1452
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1421096894'
      Last-Modified:
      - Mon, 12 Jan 2015 18:10:42 GMT
      Etag:
      - W/"3c59cf8e3601dfe0a9bec000cd2b8f7e"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/elasticsearch/logstash/pulls/1452","id":17324038,"html_url":"https://github.com/elasticsearch/logstash/pull/1452","diff_url":"https://github.com/elasticsearch/logstash/pull/1452.diff","patch_url":"https://github.com/elasticsearch/logstash/pull/1452.patch","issue_url":"https://api.github.com/repos/elasticsearch/logstash/issues/1452","number":1452,"state":"closed","locked":false,"title":"Fix
        for #1451","user":{"login":"suyograo","id":1595958,"avatar_url":"https://avatars.githubusercontent.com/u/1595958?v=3","gravatar_id":"","url":"https://api.github.com/users/suyograo","html_url":"https://github.com/suyograo","followers_url":"https://api.github.com/users/suyograo/followers","following_url":"https://api.github.com/users/suyograo/following{/other_user}","gists_url":"https://api.github.com/users/suyograo/gists{/gist_id}","starred_url":"https://api.github.com/users/suyograo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/suyograo/subscriptions","organizations_url":"https://api.github.com/users/suyograo/orgs","repos_url":"https://api.github.com/users/suyograo/repos","events_url":"https://api.github.com/users/suyograo/events{/privacy}","received_events_url":"https://api.github.com/users/suyograo/received_events","type":"User","site_admin":false},"body":"Line
        codec was using an undefined variable which caused it to throw an exception.\r\n\r\nFixed
        and added tests for line codecs\r\n\r\nCloses #1451","created_at":"2014-06-18T22:32:38Z","updated_at":"2014-09-09T13:36:19Z","closed_at":"2014-06-30T18:25:43Z","merged_at":"2014-06-30T18:25:43Z","merge_commit_sha":"450a95413c282b3ef3af504e45a2b1eade19617f","assignee":{"login":"suyograo","id":1595958,"avatar_url":"https://avatars.githubusercontent.com/u/1595958?v=3","gravatar_id":"","url":"https://api.github.com/users/suyograo","html_url":"https://github.com/suyograo","followers_url":"https://api.github.com/users/suyograo/followers","following_url":"https://api.github.com/users/suyograo/following{/other_user}","gists_url":"https://api.github.com/users/suyograo/gists{/gist_id}","starred_url":"https://api.github.com/users/suyograo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/suyograo/subscriptions","organizations_url":"https://api.github.com/users/suyograo/orgs","repos_url":"https://api.github.com/users/suyograo/repos","events_url":"https://api.github.com/users/suyograo/events{/privacy}","received_events_url":"https://api.github.com/users/suyograo/received_events","type":"User","site_admin":false},"milestone":{"url":"https://api.github.com/repos/elasticsearch/logstash/milestones/2","labels_url":"https://api.github.com/repos/elasticsearch/logstash/milestones/2/labels","id":624113,"number":2,"title":"v1.5.0","description":"","creator":{"login":"colinsurprenant","id":2010,"avatar_url":"https://avatars.githubusercontent.com/u/2010?v=3","gravatar_id":"","url":"https://api.github.com/users/colinsurprenant","html_url":"https://github.com/colinsurprenant","followers_url":"https://api.github.com/users/colinsurprenant/followers","following_url":"https://api.github.com/users/colinsurprenant/following{/other_user}","gists_url":"https://api.github.com/users/colinsurprenant/gists{/gist_id}","starred_url":"https://api.github.com/users/colinsurprenant/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colinsurprenant/subscriptions","organizations_url":"https://api.github.com/users/colinsurprenant/orgs","repos_url":"https://api.github.com/users/colinsurprenant/repos","events_url":"https://api.github.com/users/colinsurprenant/events{/privacy}","received_events_url":"https://api.github.com/users/colinsurprenant/received_events","type":"User","site_admin":false},"open_issues":27,"closed_issues":195,"state":"open","created_at":"2014-04-08T16:53:38Z","updated_at":"2015-01-12T18:25:12Z","due_on":null,"closed_at":null},"commits_url":"https://api.github.com/repos/elasticsearch/logstash/pulls/1452/commits","review_comments_url":"https://api.github.com/repos/elasticsearch/logstash/pulls/1452/comments","review_comment_url":"https://api.github.com/repos/elasticsearch/logstash/pulls/comments/{number}","comments_url":"https://api.github.com/repos/elasticsearch/logstash/issues/1452/comments","statuses_url":"https://api.github.com/repos/elasticsearch/logstash/statuses/674c3812f53d6a4ce6b98f78c8a539e0332cc664","head":{"label":"suyograo:fix/1451","ref":"fix/1451","sha":"674c3812f53d6a4ce6b98f78c8a539e0332cc664","user":{"login":"suyograo","id":1595958,"avatar_url":"https://avatars.githubusercontent.com/u/1595958?v=3","gravatar_id":"","url":"https://api.github.com/users/suyograo","html_url":"https://github.com/suyograo","followers_url":"https://api.github.com/users/suyograo/followers","following_url":"https://api.github.com/users/suyograo/following{/other_user}","gists_url":"https://api.github.com/users/suyograo/gists{/gist_id}","starred_url":"https://api.github.com/users/suyograo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/suyograo/subscriptions","organizations_url":"https://api.github.com/users/suyograo/orgs","repos_url":"https://api.github.com/users/suyograo/repos","events_url":"https://api.github.com/users/suyograo/events{/privacy}","received_events_url":"https://api.github.com/users/suyograo/received_events","type":"User","site_admin":false},"repo":{"id":20894963,"name":"logstash","full_name":"suyograo/logstash","owner":{"login":"suyograo","id":1595958,"avatar_url":"https://avatars.githubusercontent.com/u/1595958?v=3","gravatar_id":"","url":"https://api.github.com/users/suyograo","html_url":"https://github.com/suyograo","followers_url":"https://api.github.com/users/suyograo/followers","following_url":"https://api.github.com/users/suyograo/following{/other_user}","gists_url":"https://api.github.com/users/suyograo/gists{/gist_id}","starred_url":"https://api.github.com/users/suyograo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/suyograo/subscriptions","organizations_url":"https://api.github.com/users/suyograo/orgs","repos_url":"https://api.github.com/users/suyograo/repos","events_url":"https://api.github.com/users/suyograo/events{/privacy}","received_events_url":"https://api.github.com/users/suyograo/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/suyograo/logstash","description":"logstash
        - logs/event transport, processing, management, search.","fork":true,"url":"https://api.github.com/repos/suyograo/logstash","forks_url":"https://api.github.com/repos/suyograo/logstash/forks","keys_url":"https://api.github.com/repos/suyograo/logstash/keys{/key_id}","collaborators_url":"https://api.github.com/repos/suyograo/logstash/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/suyograo/logstash/teams","hooks_url":"https://api.github.com/repos/suyograo/logstash/hooks","issue_events_url":"https://api.github.com/repos/suyograo/logstash/issues/events{/number}","events_url":"https://api.github.com/repos/suyograo/logstash/events","assignees_url":"https://api.github.com/repos/suyograo/logstash/assignees{/user}","branches_url":"https://api.github.com/repos/suyograo/logstash/branches{/branch}","tags_url":"https://api.github.com/repos/suyograo/logstash/tags","blobs_url":"https://api.github.com/repos/suyograo/logstash/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/suyograo/logstash/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/suyograo/logstash/git/refs{/sha}","trees_url":"https://api.github.com/repos/suyograo/logstash/git/trees{/sha}","statuses_url":"https://api.github.com/repos/suyograo/logstash/statuses/{sha}","languages_url":"https://api.github.com/repos/suyograo/logstash/languages","stargazers_url":"https://api.github.com/repos/suyograo/logstash/stargazers","contributors_url":"https://api.github.com/repos/suyograo/logstash/contributors","subscribers_url":"https://api.github.com/repos/suyograo/logstash/subscribers","subscription_url":"https://api.github.com/repos/suyograo/logstash/subscription","commits_url":"https://api.github.com/repos/suyograo/logstash/commits{/sha}","git_commits_url":"https://api.github.com/repos/suyograo/logstash/git/commits{/sha}","comments_url":"https://api.github.com/repos/suyograo/logstash/comments{/number}","issue_comment_url":"https://api.github.com/repos/suyograo/logstash/issues/comments/{number}","contents_url":"https://api.github.com/repos/suyograo/logstash/contents/{+path}","compare_url":"https://api.github.com/repos/suyograo/logstash/compare/{base}...{head}","merges_url":"https://api.github.com/repos/suyograo/logstash/merges","archive_url":"https://api.github.com/repos/suyograo/logstash/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/suyograo/logstash/downloads","issues_url":"https://api.github.com/repos/suyograo/logstash/issues{/number}","pulls_url":"https://api.github.com/repos/suyograo/logstash/pulls{/number}","milestones_url":"https://api.github.com/repos/suyograo/logstash/milestones{/number}","notifications_url":"https://api.github.com/repos/suyograo/logstash/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/suyograo/logstash/labels{/name}","releases_url":"https://api.github.com/repos/suyograo/logstash/releases{/id}","created_at":"2014-06-16T18:07:19Z","updated_at":"2014-12-05T01:03:09Z","pushed_at":"2015-01-12T18:10:27Z","git_url":"git://github.com/suyograo/logstash.git","ssh_url":"git@github.com:suyograo/logstash.git","clone_url":"https://github.com/suyograo/logstash.git","svn_url":"https://github.com/suyograo/logstash","homepage":"http://logstash.net/","size":70782,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"elasticsearch:master","ref":"master","sha":"65af91d0158725fd18dc09897c6d73839efa47d0","user":{"login":"elasticsearch","id":141304,"avatar_url":"https://avatars.githubusercontent.com/u/141304?v=3","gravatar_id":"","url":"https://api.github.com/users/elasticsearch","html_url":"https://github.com/elasticsearch","followers_url":"https://api.github.com/users/elasticsearch/followers","following_url":"https://api.github.com/users/elasticsearch/following{/other_user}","gists_url":"https://api.[...]
